In [1]:
import pandas as pd 
import numpy as np 
import random

In [2]:
df=pd.read_csv(r"C:\Users\my pc\Desktop\Credit_card_fraud\Credit-Card-Fraud-Detection\CardData_SAIDUR_V.csv")
df

,TRANSACTION_LOCAL_DATE,CARD_NO,NAME,CARD_ACC_NAME_ADDRESS,CARD_ACCEPTOR_ACTIVITY
0,01-MAR-24 12.00.57 AM,5457005085754076,Mr HADI TAMIM,CAFE COLOMBIA AKA BGD,5812
1,01-MAR-24 12.14.32 AM,5595007567779769,Mr NIZAM UDDIN AHMED,shohagh.com Dhaka BGD,4131
2,01-MAR-24 12.19.11 AM,5245007386212959,Mr BIPUL ROY,bKash Limited Dhaka BGD,6540
3,01-MAR-24 12.19.47 AM,5457005368970731,Mr MD RAHAT ALAM,bKash Limited Dhaka BGD,6540
4,01-MAR-24 12.20.07 AM,5457007841666205,Mr MD MITHUN ISLAM,Rocket App OffUs Dhaka BGD,6540
...,...,...,...,...,...
4750,03-MAR-24 04.04.57 AM,5245005566193297,Mr ANWARUL ISLAM,INDIGO GURGAON IND,4511
4751,03-MAR-24 04.05.03 AM,5245005566193297,Mr ANWARUL ISLAM,INDIGO GURGAON IND,4511
4752,03-MAR-24 04.12.09 AM,5245007695561601,Mr MD SABER ALI,MURPHY EXPRESS 8728 GAINESVILLE FL,5542
4753,03-MAR-24 04.20.40 AM,5457000999303983,Mr MD FARUK HOSSAIN,ANDALUSIA GOLD FOUNDAT MAKKAH SAU,5944
4754,03-MAR-24 04.22.22 AM,5457001666155689,Mr MOSLEH UDDIN TAREK,PRIO ENERGY LISBOA PRT,5541

In [3]:
def map_gender(title):
    if title.startswith('Mr'):
        return 'M'
    elif title.startswith('Mrs') or title.startswith('Miss'):
        return 'F'
    else:
        return None  

df['gender'] = df['NAME'].apply(map_gender)

print(df)

     TRANSACTION_LOCAL_DATE           CARD_NO                   NAME  \
0     01-MAR-24 12.00.57 AM  5457005085754076          Mr HADI TAMIM
1     01-MAR-24 12.14.32 AM  5595007567779769   Mr NIZAM UDDIN AHMED
2     01-MAR-24 12.19.11 AM  5245007386212959           Mr BIPUL ROY
3     01-MAR-24 12.19.47 AM  5457005368970731       Mr MD RAHAT ALAM
4     01-MAR-24 12.20.07 AM  5457007841666205     Mr MD MITHUN ISLAM
...                     ...               ...                    ...
4750  03-MAR-24 04.04.57 AM  5245005566193297       Mr ANWARUL ISLAM
4751  03-MAR-24 04.05.03 AM  5245005566193297       Mr ANWARUL ISLAM
4752  03-MAR-24 04.12.09 AM  5245007695561601        Mr MD SABER ALI
4753  03-MAR-24 04.20.40 AM  5457000999303983    Mr MD FARUK HOSSAIN
4754  03-MAR-24 04.22.22 AM  5457001666155689  Mr MOSLEH UDDIN TAREK

                         CARD_ACC_NAME_ADDRESS  CARD_ACCEPTOR_ACTIVITY gender
0     CAFE COLOMBIA          AKA           BGD                    5812      M
1     shohagh.com            Dhaka         BGD                    4131      M
2     bKash Limited          Dhaka         BGD                    6540      M
3     bKash Limited          Dhaka         BGD                    6540      M
4     Rocket App OffUs       Dhaka         BGD                    6540      M
...                                        ...                     ...    ...
4750  INDIGO                 GURGAON       IND                    4511      M
4751  INDIGO                 GURGAON       IND                    4511      M
4752  MURPHY EXPRESS 8728    GAINESVILLE   FL                     5542      M
4753  ANDALUSIA GOLD FOUNDAT MAKKAH        SAU                    5944      M
4754  PRIO ENERGY            LISBOA        PRT                    5541      M

[4755 rows x 6 columns]

In [4]:
df['gender'].value_counts()

gender
M    4668
F      72
Name: count, dtype: int64

In [5]:
df.isnull().sum()

TRANSACTION_LOCAL_DATE     0
CARD_NO                    0
NAME                       0
CARD_ACC_NAME_ADDRESS      0
CARD_ACCEPTOR_ACTIVITY     0
gender                    15
dtype: int64

In [6]:
df=df.dropna()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4740 entries, 0 to 4754
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TRANSACTION_LOCAL_DATE  4740 non-null   object
 1   CARD_NO                 4740 non-null   int64
 2   NAME                    4740 non-null   object
 3   CARD_ACC_NAME_ADDRESS   4740 non-null   object
 4   CARD_ACCEPTOR_ACTIVITY  4740 non-null   int64
 5   gender                  4740 non-null   object
dtypes: int64(2), object(4)
memory usage: 259.2+ KB

In [8]:
def extract_first_name(address):
    return address.split("  ")[0]

# Apply the function to the address column
df['merchant'] = df['CARD_ACC_NAME_ADDRESS'].apply(extract_first_name)

# Print the updated dataset
print(df)

     TRANSACTION_LOCAL_DATE           CARD_NO                   NAME  \
0     01-MAR-24 12.00.57 AM  5457005085754076          Mr HADI TAMIM
1     01-MAR-24 12.14.32 AM  5595007567779769   Mr NIZAM UDDIN AHMED
2     01-MAR-24 12.19.11 AM  5245007386212959           Mr BIPUL ROY
3     01-MAR-24 12.19.47 AM  5457005368970731       Mr MD RAHAT ALAM
4     01-MAR-24 12.20.07 AM  5457007841666205     Mr MD MITHUN ISLAM
...                     ...               ...                    ...
4750  03-MAR-24 04.04.57 AM  5245005566193297       Mr ANWARUL ISLAM
4751  03-MAR-24 04.05.03 AM  5245005566193297       Mr ANWARUL ISLAM
4752  03-MAR-24 04.12.09 AM  5245007695561601        Mr MD SABER ALI
4753  03-MAR-24 04.20.40 AM  5457000999303983    Mr MD FARUK HOSSAIN
4754  03-MAR-24 04.22.22 AM  5457001666155689  Mr MOSLEH UDDIN TAREK

                         CARD_ACC_NAME_ADDRESS  CARD_ACCEPTOR_ACTIVITY gender  \
0     CAFE COLOMBIA          AKA           BGD                    5812      M
1     shohagh.com            Dhaka         BGD                    4131      M
2     bKash Limited          Dhaka         BGD                    6540      M
3     bKash Limited          Dhaka         BGD                    6540      M
4     Rocket App OffUs       Dhaka         BGD                    6540      M
...                                        ...                     ...    ...
4750  INDIGO                 GURGAON       IND                    4511      M
4751  INDIGO                 GURGAON       IND                    4511      M
4752  MURPHY EXPRESS 8728    GAINESVILLE   FL                     5542      M
4753  ANDALUSIA GOLD FOUNDAT MAKKAH        SAU                    5944      M
4754  PRIO ENERGY            LISBOA        PRT                    5541      M

                           merchant
0                     CAFE COLOMBIA
1                       shohagh.com
2                     bKash Limited
3                     bKash Limited
4                  Rocket App OffUs
...                             ...
4750                         INDIGO
4751                         INDIGO
4752            MURPHY EXPRESS 8728
4753  ANDALUSIA GOLD FOUNDAT MAKKAH
4754                    PRIO ENERGY

[4740 rows x 7 columns]

C:\Users\MYPC~1\AppData\Local\Temp/ipykernel_4328/448726887.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['merchant'] = df['CARD_ACC_NAME_ADDRESS'].apply(extract_first_name)

In [9]:
categories = [
    'personal_care',
    'health_fitness',
    'misc_pos',
    'travel',
    'kids_pets',
    'shopping_pos',
    'food_dining',
    'home'
]

# Generate 'category' column with random values
df['category'] = random.choices(categories, k=len(df))

# Print the updated dataset
print(df)

     TRANSACTION_LOCAL_DATE           CARD_NO                   NAME  \
0     01-MAR-24 12.00.57 AM  5457005085754076          Mr HADI TAMIM
1     01-MAR-24 12.14.32 AM  5595007567779769   Mr NIZAM UDDIN AHMED
2     01-MAR-24 12.19.11 AM  5245007386212959           Mr BIPUL ROY
3     01-MAR-24 12.19.47 AM  5457005368970731       Mr MD RAHAT ALAM
4     01-MAR-24 12.20.07 AM  5457007841666205     Mr MD MITHUN ISLAM
...                     ...               ...                    ...
4750  03-MAR-24 04.04.57 AM  5245005566193297       Mr ANWARUL ISLAM
4751  03-MAR-24 04.05.03 AM  5245005566193297       Mr ANWARUL ISLAM
4752  03-MAR-24 04.12.09 AM  5245007695561601        Mr MD SABER ALI
4753  03-MAR-24 04.20.40 AM  5457000999303983    Mr MD FARUK HOSSAIN
4754  03-MAR-24 04.22.22 AM  5457001666155689  Mr MOSLEH UDDIN TAREK

                         CARD_ACC_NAME_ADDRESS  CARD_ACCEPTOR_ACTIVITY gender  \
0     CAFE COLOMBIA          AKA           BGD                    5812      M
1     shohagh.com            Dhaka         BGD                    4131      M
2     bKash Limited          Dhaka         BGD                    6540      M
3     bKash Limited          Dhaka         BGD                    6540      M
4     Rocket App OffUs       Dhaka         BGD                    6540      M
...                                        ...                     ...    ...
4750  INDIGO                 GURGAON       IND                    4511      M
4751  INDIGO                 GURGAON       IND                    4511      M
4752  MURPHY EXPRESS 8728    GAINESVILLE   FL                     5542      M
4753  ANDALUSIA GOLD FOUNDAT MAKKAH        SAU                    5944      M
4754  PRIO ENERGY            LISBOA        PRT                    5541      M

                           merchant        category
0                     CAFE COLOMBIA       kids_pets
1                       shohagh.com   personal_care
2                     bKash Limited   personal_care
3                     bKash Limited            home
4                  Rocket App OffUs       kids_pets
...                             ...             ...
4750                         INDIGO        misc_pos
4751                         INDIGO   personal_care
4752            MURPHY EXPRESS 8728   personal_care
4753  ANDALUSIA GOLD FOUNDAT MAKKAH          travel
4754                    PRIO ENERGY  health_fitness

[4740 rows x 8 columns]

C:\Users\MYPC~1\AppData\Local\Temp/ipykernel_4328/2945164272.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['category'] = random.choices(categories, k=len(df))

In [10]:
jobs = [
    'Engineer',
    'Teacher',
    'Doctor',
    'Artist',
    'Lawyer',
    'Chef',
    'Writer',
    'Nurse'
]

# Generate random values for 'job', 'unix_time', 'merch_lat', 'merch_long', and 'transaction_amount' columns
df['job'] = np.random.choice(jobs, len(df))
df['unix_time'] = np.random.randint(1325376018, 1371816817, len(df))  # Random Unix time between Jan 1, 2012 and June 21, 2020
df['merch_lat'] = np.random.uniform(300, 500, len(df))  # Random latitude between 30 and 50
df['merch_long'] = np.random.uniform(-120, -70, len(df))  # Random longitude between -120 and -70
df['transaction_amount'] = np.random.uniform(10000, 50000, len(df))  # Random transaction amount between 1 and 1000

# Print the updated dataset
print(df)

     TRANSACTION_LOCAL_DATE           CARD_NO                   NAME  \
0     01-MAR-24 12.00.57 AM  5457005085754076          Mr HADI TAMIM
1     01-MAR-24 12.14.32 AM  5595007567779769   Mr NIZAM UDDIN AHMED
2     01-MAR-24 12.19.11 AM  5245007386212959           Mr BIPUL ROY
3     01-MAR-24 12.19.47 AM  5457005368970731       Mr MD RAHAT ALAM
4     01-MAR-24 12.20.07 AM  5457007841666205     Mr MD MITHUN ISLAM
...                     ...               ...                    ...
4750  03-MAR-24 04.04.57 AM  5245005566193297       Mr ANWARUL ISLAM
4751  03-MAR-24 04.05.03 AM  5245005566193297       Mr ANWARUL ISLAM
4752  03-MAR-24 04.12.09 AM  5245007695561601        Mr MD SABER ALI
4753  03-MAR-24 04.20.40 AM  5457000999303983    Mr MD FARUK HOSSAIN
4754  03-MAR-24 04.22.22 AM  5457001666155689  Mr MOSLEH UDDIN TAREK

                         CARD_ACC_NAME_ADDRESS  CARD_ACCEPTOR_ACTIVITY gender  \
0     CAFE COLOMBIA          AKA           BGD                    5812      M
1     shohagh.com            Dhaka         BGD                    4131      M
2     bKash Limited          Dhaka         BGD                    6540      M
3     bKash Limited          Dhaka         BGD                    6540      M
4     Rocket App OffUs       Dhaka         BGD                    6540      M
...                                        ...                     ...    ...
4750  INDIGO                 GURGAON       IND                    4511      M
4751  INDIGO                 GURGAON       IND                    4511      M
4752  MURPHY EXPRESS 8728    GAINESVILLE   FL                     5542      M
4753  ANDALUSIA GOLD FOUNDAT MAKKAH        SAU                    5944      M
4754  PRIO ENERGY            LISBOA        PRT                    5541      M

                           merchant        category       job   unix_time  \
0                     CAFE COLOMBIA       kids_pets    Writer  1334171948
1                       shohagh.com   personal_care      Chef  1358266092
2                     bKash Limited   personal_care  Engineer  1328377677
3                     bKash Limited            home     Nurse  1359965979
4                  Rocket App OffUs       kids_pets   Teacher  1360595487
...                             ...             ...       ...         ...
4750                         INDIGO        misc_pos     Nurse  1332080746
4751                         INDIGO   personal_care     Nurse  1348706783
4752            MURPHY EXPRESS 8728   personal_care    Artist  1370956531
4753  ANDALUSIA GOLD FOUNDAT MAKKAH          travel    Artist  1334531754
4754                    PRIO ENERGY  health_fitness    Writer  1360416247

       merch_lat  merch_long  transaction_amount
0     394.895293 -113.129825        47649.981863
1     383.867497 -101.374414        43044.954030
2     364.135516 -116.200337        23992.960692
3     421.094556  -87.023275        12494.758476
4     436.925467 -116.747478        42876.780652
...          ...         ...                 ...
4750  362.512701 -108.804738        12596.234787
4751  443.316453  -70.069962        12145.344819
4752  359.447718 -111.532668        24401.106949
4753  346.774982  -98.997069        40888.536284
4754  354.056157  -97.230737        24245.210150

[4740 rows x 13 columns]

C:\Users\MYPC~1\AppData\Local\Temp/ipykernel_4328/1026407682.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job'] = np.random.choice(jobs, len(df))
C:\Users\MYPC~1\AppData\Local\Temp/ipykernel_4328/1026407682.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['unix_time'] = np.random.randint(1325376018, 1371816817, len(df))  # Random Unix time between Jan 1, 2012 and June 21, 2020
C:\Users\MYPC~1\AppData\Local\Temp/ipykernel_4328/1026407682.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['merch_lat'] = np.random.uniform(300, 500, len(df))  # Random latitude between 30 and 50
C:\Users\MYPC~1\AppData\Local\Temp/ipykernel_4328/1026407682.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['merch_long'] = np.random.uniform(-120, -70, len(df))  # Random longitude between -120 and -70
C:\Users\MYPC~1\AppData\Local\Temp/ipykernel_4328/1026407682.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['transaction_amount'] = np.random.uniform(10000, 50000, len(df))  # Random transaction amount between 1 and 1000

In [11]:
df

,TRANSACTION_LOCAL_DATE,CARD_NO,NAME,CARD_ACC_NAME_ADDRESS,CARD_ACCEPTOR_ACTIVITY,gender,merchant,category,job,unix_time,merch_lat,merch_long,transaction_amount
0,01-MAR-24 12.00.57 AM,5457005085754076,Mr HADI TAMIM,CAFE COLOMBIA AKA BGD,5812,M,CAFE COLOMBIA,kids_pets,Writer,1334171948,394.895293,-113.129825,47649.981863
1,01-MAR-24 12.14.32 AM,5595007567779769,Mr NIZAM UDDIN AHMED,shohagh.com Dhaka BGD,4131,M,shohagh.com,personal_care,Chef,1358266092,383.867497,-101.374414,43044.954030
2,01-MAR-24 12.19.11 AM,5245007386212959,Mr BIPUL ROY,bKash Limited Dhaka BGD,6540,M,bKash Limited,personal_care,Engineer,1328377677,364.135516,-116.200337,23992.960692
3,01-MAR-24 12.19.47 AM,5457005368970731,Mr MD RAHAT ALAM,bKash Limited Dhaka BGD,6540,M,bKash Limited,home,Nurse,1359965979,421.094556,-87.023275,12494.758476
4,01-MAR-24 12.20.07 AM,5457007841666205,Mr MD MITHUN ISLAM,Rocket App OffUs Dhaka BGD,6540,M,Rocket App OffUs,kids_pets,Teacher,1360595487,436.925467,-116.747478,42876.780652
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4750,03-MAR-24 04.04.57 AM,5245005566193297,Mr ANWARUL ISLAM,INDIGO GURGAON IND,4511,M,INDIGO,misc_pos,Nurse,1332080746,362.512701,-108.804738,12596.234787
4751,03-MAR-24 04.05.03 AM,5245005566193297,Mr ANWARUL ISLAM,INDIGO GURGAON IND,4511,M,INDIGO,personal_care,Nurse,1348706783,443.316453,-70.069962,12145.344819
4752,03-MAR-24 04.12.09 AM,5245007695561601,Mr MD SABER ALI,MURPHY EXPRESS 8728 GAINESVILLE FL,5542,M,MURPHY EXPRESS 8728,personal_care,Artist,1370956531,359.447718,-111.532668,24401.106949
4753,03-MAR-24 04.20.40 AM,5457000999303983,Mr MD FARUK HOSSAIN,ANDALUSIA GOLD FOUNDAT MAKKAH SAU,5944,M,ANDALUSIA GOLD FOUNDAT MAKKAH,travel,Artist,1334531754,346.774982,-98.997069,40888.536284
4754,03-MAR-24 04.22.22 AM,5457001666155689,Mr MOSLEH UDDIN TAREK,PRIO ENERGY LISBOA PRT,5541,M,PRIO ENERGY,health_fitness,Writer,1360416247,354.056157,-97.230737,24245.210150

In [12]:
df=df.drop(columns=["TRANSACTION_LOCAL_DATE",'CARD_NO','CARD_ACC_NAME_ADDRESS', 'CARD_ACCEPTOR_ACTIVITY','NAME'])
df

,gender,merchant,category,job,unix_time,merch_lat,merch_long,transaction_amount
0,M,CAFE COLOMBIA,kids_pets,Writer,1334171948,394.895293,-113.129825,47649.981863
1,M,shohagh.com,personal_care,Chef,1358266092,383.867497,-101.374414,43044.954030
2,M,bKash Limited,personal_care,Engineer,1328377677,364.135516,-116.200337,23992.960692
3,M,bKash Limited,home,Nurse,1359965979,421.094556,-87.023275,12494.758476
4,M,Rocket App OffUs,kids_pets,Teacher,1360595487,436.925467,-116.747478,42876.780652
...,...,...,...,...,...,...,...,...
4750,M,INDIGO,misc_pos,Nurse,1332080746,362.512701,-108.804738,12596.234787
4751,M,INDIGO,personal_care,Nurse,1348706783,443.316453,-70.069962,12145.344819
4752,M,MURPHY EXPRESS 8728,personal_care,Artist,1370956531,359.447718,-111.532668,24401.106949
4753,M,ANDALUSIA GOLD FOUNDAT MAKKAH,travel,Artist,1334531754,346.774982,-98.997069,40888.536284
4754,M,PRIO ENERGY,health_fitness,Writer,1360416247,354.056157,-97.230737,24245.210150

In [13]:
df.to_csv(r"C:\Users\my pc\Desktop\Credit_card_fraud\Credit-Card-Fraud-Detection\dataset\credit_saidur.csv", index=False)